body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
*{
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

.header {
  height: 100px;
  position: relative;
  margin-bottom: 150px;
}
.logo{
  display: block;
  position: absolute;
  top: 26px;
  left: 0;
}

.menu {
  position: absolute;
  top: 47px;
  left: 439px;
}



.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;

}

.menu__link{
  font-size: 14px;
  text-decoration: none;

}

.contacts {
  font-style: normal;
  text-align: right;

}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
}

.hero__content-section {
  width: 780px;
  margin-bottom: 233px;

}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 18px;
}

.hero__subtitle{
  font-size: 18px;
  margin-bottom: 81px;
}

.btn {
  background: #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  

}

.section {
  margin-bottom: 170px;
}

.offers__item{
  min-height: 476px;
  background: #FFFFFF;
  border-radius: 4px;
  display: inline-block;
  margin-right: 28px;
  width: 362px;
  

}

.offers__header{
  min-height: 69px;
  margin-bottom: 30px;
}

.offers__content{
  padding: 36px 30px;
  color: #666666;
}
.offers__title{
  font-size: 32px;
  color: black;
  font-weight: bold;
}

.offers__prices-cell{
  display: inline-block;
  vertical-align: top;
  width: 102px;
  margin-right: 81px;
}

.offers__prices:last-child{
  margin-right: 0;
}


.news__item{
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 25px 30px;
  min-height: 140px;
}

.about:before, .about__desc{
  display: inline-block;
  vertical-align: top;
}

.about:before{
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("img/cameraman.png") center center / cover no-repeat;
}

.about__desc{
  background: #FFFFFF;
  padding: 70px 81px;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  margin-left: -126px;
  margin-top: 100px;
  height: 455px;
  border-radius: 5px;
}

.about__title{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 32px; 
  color: #000;
}

.about__desc-text{
margin-bottom: 42px;
color: #060606;
}

.about__desc-text p {
  margin-bottom: 43px;
  font-size: 16px;

}

.about__desc-text p:last-child{
  margin-bottom: 0;
}


