body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 1px;
  margin-right: -17px;
  margin-bottom: 50px;
}

ul li {
  list-style: none;
}

h1{letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
*{
  box-sizing: border-box;
}



.container {
  margin: 0 auto;
  width: 1142px;
}

.header {
  height: 100px;
  position: relative;
  margin-bottom: 150px;
}
.logo{
  display: block;
  position: absolute;
  top: 26px;
  left: 384;
}

.menu {
  position: absolute;
  top: 46px;
  left: 439px;
}



.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

.contacts__desc{
  color: #9A9A9A;
  font-size: 11px;
  top: 32px;
  margin-left: 20px;
  display: block;
  margin-right: 255px;
  margin-top: 9px;
  padding: 30px 0px 10px 10px;
}

.menu__link{
  font-size: 14px;
  text-decoration: none;

}

.contacts {
  font-style: normal;
  text-align: right;
  top: 30px;
  min-height: 150px;


}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
  margin-right: 2px;
  top: 33px;
  display: inline-block;
  margin-top: 32px;
}

.contacts__phone-two{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
    margin-right: 254px;
    top: 33px;
    display: inline-block;
    margin-top: -8px;
}
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
  margin-right: 3px;
  margin-top: -10px;
}

.hero{
  height: 797px;
}

.hero__content-section {
  width: 780px;
  margin-bottom: 233px;
  margin-left: 224px;

}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 18px;
  margin-left: 2px;
  margin-top: -6px;
  font-weight: 800;
  letter-spacing: 1px;
  
}

.hero__title-two{
  font-size: 72px;
  line-height: 1.1;
  font-weight: bold;
  font-weight: 800;
  margin-left: -39px;
  margin-top: 2px;
  letter-spacing: 0.5px;
}

.hero__subtitle{
  font-size: 18px;
  margin-bottom: 58px;
  margin-top: 27px;
  margin-left: 151px;
}

.btn {
  background: #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1px;
  margin-left: 249px;
}

.button{
  background: #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.section {
  height: 482px;
  margin-bottom: 175px;
}

.container{
  margin-left: 253px;
  min-height: 825px;
}

.container-foot{
  display: block;
  padding: 25px 0;
}

.offers{
  width: 1200px;
}

.section__title{

  font-size: 36px;
  font-weight: 800;
  width: 376px;
  height: 49px;
  margin-left: 4px;
  margin-bottom: 52px;
}



.offers__item{
  min-height: 476px;
  background: #FFFFFF;
  border-radius: 4px;
  display: inline-block;
  margin-right: 28px;
  width: 361px;
}

.offers__header{
  min-height: 69px;
}

.offers__content{
  padding: 36px 30px;
  color: #666666;
  padding: 30px 34px 53px 22px;
}
.offers__title{
  font-size: 32px;
  color: black;
  font-weight: bold;
  
}

.offers__prices-cell{
  display: inline-block;
  vertical-align: top;
  width: 102px;
  margin-right: 81px;
  display: flex;
}

.offers__prices{
  margin-bottom: 22px;
}

.offers__prices:last-child{
  margin-right: 0;
}

.offers__header-img{
  margin-left: 29px;
  margin-top: 38px;
}

.offers__price-day{
  position: absolute;
  width: 126px;
  height: 42px;
  font-size: 16px;
  margin-left: 180px;
  margin-top: 14px;
  align-items: center;
  line-height: 125%;
}

.offers__price{
  font-size: 16px;
  margin-top: 16px;
  display: inline-block;
}

.description{
  margin-bottom: 37px;
  display: block;
}


.news__item{
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 21px;
}

.news__title{
  width: 443px;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 25px 30px;
  min-height: 140px;
  top: 228px;
}

.news__date{
  margin-bottom: 13px;
  display: block;
}

.news__desc{
  display: block;
  width: 442px;
  font-size: 16px;
  margin-left: 2px;

}



.about:before, .about__desc{
  display: inline-block;
  vertical-align: top;
}

.about:before{
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("img/cameraman.png") center center / cover no-repeat;
  margin-top: 68px;
}

.about__desc{
    background: #FFFFFF;
    padding: 70px 81px;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    margin-left: -140px;
    height: 455px;
    border-radius: 5px;
    margin-top: 164px;
    margin-bottom: 53px;
}

.about__title{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 38px;
    color: #000;
}

.about__desc-text{
  width: 501px;
    display: block;
    margin-bottom: 57px;
    color: #060606;
    line-height: 27px;
}


.btn--width-block{
  width: 168px;
  background: #FF5400;
  border-radius: 35px;
  font-size: 14px;
  line-height: 22px;
  padding: 18px 41px 15px 40px;
  margin-left: 1px;
  margin-top: -16px;
  display: inline-block;

}

.about__desc-text p {
 
  font-size: 16px;

}

.about__desc-text p:last-child{
  margin-bottom: 0;
}


.pager{
    text-align: center;
    display: flex;
    line-height: 32px;
    margin-left: 381px;
}

.pager__display .pager__list{
  display: inline-block;
  vertical-align: middle;
}

.pager__display{
  margin-right: 25px;
  font-size: 16px;
}

.pager__item{
  display: inline-block;
  vertical-align: middle;
}

.pager__list{
  font-size: 16px;
}

.pager__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.pager__item--active .pager__link{
  background: #FF5500;
}
.footer{
  height: 130px;
  position: relative;
}

.footer-container{
  display: block;
  margin-left: 253px;
  height: 167px;
}


.menu__list-two{
  margin-left: -110px;
  margin-top: -3px;
}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.socials__item:last-child{
  margin-right: 0;
}

.socials{
  top: 36px;
  right: 301px;
  position: absolute;
  margin-left: 7px;
  display: block;
  margin-right: 220px;
}


 .socials__link{
   display: block;
   text-decoration: none;
   width: 36px;
   height: 36px; 
 }

 .socials__item--icon--instagram{
   display: inline-block;
   margin-right: 1px;
   margin-left: 1px;
   left: 1px;
 }

 .socials__item--icon--faceboock{
  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
  left: 1px;
}

 .socials__item--icon--telegram .socials__link{
   background-image: url("/project_02/img/icons/telegram.png");
 }
 .socials__item--icon--telegram .socials__link:hover{
   background-image:url("/project_02/img/icons/t-hover.png");
 }

 .socials__item--icon--vk .socials__link{
  background-image: url("/project_02/img/icons/vk.png");
}
.socials__item--icon--vk .socials__link:hover{
  background-image:url("/project_02/img/icons/vk-hover.png");
}

.socials__item--icon--faceboock .socials__link{
  background-image: url("/project_02/img/icons/f.png");
}
.socials__item--icon--faceboock .socials__link:hover{
  background-image:url("/project_02/img/icons/f2-hover.png");
}

.socials__item--icon--instagram .socials__link{
  background-image: url("/project_02/img/icons/in.png");
}
.socials__item--icon--instagram .socials__link:hover{
  background-image:url("/project_02/img/icons/in-hover.png");
}


.main-page-wrapper{
  background: url("/project_02/img/hero.png") center top no-repeat, url("/project_02/img/bottom.png") center bottom 1700px no-repeat;
}