.features {
  display: flex;
}

.features__item {
  margin-right: 46px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 35px;
  margin-right: 15px;
}

.feature__text {
  font-size: 16px;
}