.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  text-decoration: none;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 13px;
  height: 14px;
  margin-right: 6px;
}