.hero {
  background: url("../../img/main.png") center top no-repeat;
  min-height: 652px;
  height: 100vh;
  width: 100%;
  color: white;
  font-weight: bold;
  background-size: cover;
}

.hero__title-main {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 39px;
  padding-right: 10%;
}

.hero__title-section {
  width: 46%;
}