.parametrs {
  display: inline-block;
  width: 548px;
  height: 642px;
  justify-content: end;
}

.parametrs__elem {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #3A587E;
  margin-bottom: 52px;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 4px;
}

.parametrs__simbol {
  display: inline-block;
  width: 38px;
  height: 38px;
  position: absolute;
  margin-bottom: 7px;
  margin-top: 27px;
}

.parametrs__desc {
  font-size: 14px;
  font-weight: bold;
}

.parametrs__board {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-top: 157px;
  margin-left: 143px;
}
.parametrs__board:before {
  content: url("../../img/board3.png");
  position: absolute;
}

.longboard {
  width: 428px;
  min-height: 375px;
  margin-left: 618px;
}

.parametrs__text-title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-bottom: 24px;
}

.parametrs__subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 24px;
}

.parametrs__size {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.parametrs__cost {
  font-size: 60px;
  color: black;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  padding: 0 60px 0 0;
}

.parametrs__weght {
  margin-right: 108px;
}

.parametrs__cost--money {
  font-size: 60px;
  color: #151515;
  margin-right: 28px;
}