
.section__surf{
  background: #F8FAF9;
  // background-size: cover;
  width: 100%;
}

.container--surf{
  width: $containerWidth;
  margin: 0 auto;
  min-height: 642px;  
}

.parametrs{
  display: flex;
  width: 548px;
  height: 642px;
  margin-left:auto;
  flex-direction: column;
  top: 66px;
}

.parametrs__elem{
  display: flex;
  margin-top: 66px;
}
.parametrs__space{
  display: flex;
  justify-content: center;
  background: #3A587E;
  color: #FFFFFF;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-bottom: 52px;
}


.parametrs__simbol{
  width: 38px;
  height: 38px;
  position:absolute;
  align-self:center;
}

.parametrs__title{
 font-size: 14px;
 font-weight: bold;
 text-transform: uppercase;
 align-self: flex-end;

}

.parametrs__board{
  position: absolute;
  width: 547px;
  height: 642px;

  
}

.parametrs__img{

  margin-left: 70px;
  margin-top: 52px;

  &:before{
    content: url("../../img/board3.png");
    position: absolute;

  }
}

.longboard{
  // padding: 209px 105px 105px 618px;
  width: 428px;
  min-height: 375px;
  margin-left: 618px;
}

.parametrs__text-title{
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-bottom: 24px;
}

.parametrs__subtitle{
  font-size: 18px;
  color: #666;
  margin-bottom: 24px;
  padding: 0 100px 0 0;
}

.parametrs__size{
  display: flex;
  justify-content: space-between; 
  margin-bottom: 24px; 
}



.parametrs__cost{
  font-size: 60px;
  color: black;
  display: flex;
  justify-content: space-between;
  line-height: 60px; //выровнить оба элемента по строке при условии если у них одинаковая высота
  padding: 0 60px 0 0;
}

.parametrs__weght{
  margin-right: 108px;
}


.parametrs__cost--money{
  font-size: 60px;
  color: #151515;
  margin-right: 28px;
}



