

.container--team{
  width: $containerWidth;
  margin: 0 auto;
  padding: 64px 0;
  min-height: 652px;
}

.name{
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.item__name{
  margin-right: 20px;

  &:last-child{
    margin-right: 0;
  }

}

.team__title{
  display: flex;
  justify-content: center;
}
.team__title-team{
  font-size: 48px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 53px;
  text-transform: uppercase;

}

.name__desc{
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.dropmenu{
  align-self: center;
}

.name__title{
  font-size: 21px;
  font-weight: bold;
  margin-right: 4px;
  color: #292929;
}